tr {
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "one two three four five six seven eight nine"
    ". . . . . error error error .";
}

/* `td`s can be looped in styled components functions */
td:nth-child(1), th:nth-child(1) {
  grid-area: one;
}

/* general component */
td:nth-child(2), th:nth-child(2) {
  grid-area: two;
}

/* general component */
td:nth-child(3), th:nth-child(3) {
  grid-area: three;
}

/* general component */
td:nth-child(4), th:nth-child(4) {
  grid-area: four;
}

/* general component */
td:nth-child(5), th:nth-child(5) {
  grid-area: five;
}

/* component marked for validation */
td:nth-child(6), th:nth-child(6) {
  grid-area: six;
}

/* component marked for validation */
td:nth-child(7), th:nth-child(7) {
  grid-area: seven;
}

/* component marked for validation */
td:nth-child(8), th:nth-child(8) {
  grid-area: eight;
}

/* Error that lies below in user interface but adjacent in React DOM */
td:nth-child(9) {
  color: red;
  grid-area: error;
  background: mistyrose;
}

/* another general component */
td:nth-child(10), th:nth-child(9) {
  grid-area: nine;
}
